/* (styles.css) */
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  background-image: url("./picture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.h {
  color: #f8fafc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  gap: 2px;
  justify-items: center;
  padding: 5px;
}
.card {
  width: 85px;
  height: 85px;
  background-color: #3b3e42;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.card.flipped {
  transform: rotateY(180deg);
}

/* inmage adjustment */
.card img.hidden {
  display: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #bdf85f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal.active {
  display: block;
}

.close {
  background-color: #f8fafc;
}

.resetButton {
  margin-top: 15px;
  background-color: #fde68a;
  height: 25px;
  border-radius: 8px;
}

.resetButton:hover {
  cursor: pointer;
}

/* Responsive  */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(6, 0.5fr);
  }
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(6, 0.05fr);
  }
  .card {
    width: 50px;
    height: 50px;
  }
}

